<div class="container-fluid patient-info">

  <div class="row" >
    <div class="col-2"><img src="" width="150"></div>
    <div class="col-4">
      <h4>Informations générales :</h4>
      Nom : {{patient.nom}} <br>
      Prénom : {{patient.prenom}} <br>
      Email : {{patient.email}}<br>
      Mot de Passe : {{patient.motDePasse}}<br>

    </div>
    <br>
    <div class="col-4" >
      <h4 >Informations supplémentaires : </h4>
      Date de Naissance : {{patient.dateNaissance}}<br>
      Numéro sécurité sociale : {{patient.numeroSS}}<br>
      Téléphone : {{patient.telephone}}<br>
      consultations : {{patient.consultations}}<br>
     </div>

    <div class="col-12"><input class="btn btn-success" type="button" (click)="edit(1)" value="Modifer"></div><br><br><br>
    <div class="col-12">


      <div class="card mt-3" *ngIf="patientInfoForm">
        <div class="card-header bg-info text-white">
          <h3>Edition des informations</h3>
        </div>

        <div class="card-body">

          <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" class="form-control" id="nom" [(ngModel)]="patientInfoForm.nom">
          </div>
        </div>


        <div class="card-footer">
          <div class="btn-group btn-group-lg float-right">
            <a class="btn btn-success" (click)="save()">
              <i class="fa fa-check"></i>
            </a>
            <a class="btn btn-warning" (click)="cancel()">
              <i class="fa fa-sync"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>





</div>
