<div class="container">

  <div class="row">


  Matricule : {{praticien.nom}}<br>
   Telephone : {{praticien.telephone}}<br>
   Photo : {{praticien.photo}}<br>
   Convention : {{praticien.convention}}<br>
   carteVitale : {{praticien.carteVitale}}<br>
   cb : {{praticien.cb}}<br>
   cheque : {{praticien.cheque}}<br>
   Espece : {{praticien.espece}}<br>
    duree : {{praticien.dureeCrenau}}<br>


  </div>

<input type="button" (click)="edit()" value="Modifer">


  <div class="card mt-3" *ngIf="praticienForm">
    <div class="card-header bg-info text-white">
      <h3>Edition du Praticien</h3>
    </div>

    <div class="card-body">

      <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="praticienForm.nom">
      </div>
    </div>


    <div class="card-footer">
      <div class="btn-group btn-group-lg float-right">
        <a class="btn btn-success" (click)="save()">
          <i class="fa fa-check"></i>
        </a>
        <a class="btn btn-warning" (click)="cancel()">
          <i class="fa fa-sync"></i>
        </a>
      </div>
    </div>
  </div>


</div>
