<div class="container">
  <div class="container">
  <h2>Vos motifs</h2>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Nom du motif</th>
      <th>Nombre de créneaux</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let motif of list()">
      <td>{{motif.libelle}}</td>
      <td>{{motif.nbCreneau}}</td>
      <td>
        <div class="btn-group btn-group-sm">
          <a type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo" (click)="edit(motif.id)"><i class="fa fa-edit"></i></a>
          <a class="btn btn-danger" (click)="delete(motif.id)"><i class="fa fa-trash"></i></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo" (click)="add()">Ajouter un motif</button>
  <div id="demo" class="collapse">
    <div class="card-body">
      <div class="form-group">
        <label for="libelle">Libellé du motif:</label>
        <input type="text" class="form-control" id="libelle" [(ngModel)]="motifForm.libelle">
        <div class="form-group">
          <label for="nbC">Nombre de créneau requis :</label>
          <input type="number" class="form-control" id="nbC" [(ngModel)]="motifForm.nbCreneau">
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-primary" (click)="save()">Ajouter le motif</button>
    <button type="button" class="btn btn-outline-danger" data-toggle="collapse" data-target="#demo" (click)="cancel()">Annuler</button>
  </div>
</div>
</div>
